<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring_security:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_security_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring_security" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-orm:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:5.0.9.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-core:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-web:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework.security:spring-security-config:5.0.8.RELEASE" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:5.1.31" />
          <element id="library" level="project" name="Maven: org.projectlombok:lombok:1.18.2" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.21" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.1.7" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.1.7" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring_security/web/Web" />
    </root>
  </artifact>
</component>